.login{
    background-color: rgba(30, 54, 88, 0.71);
    border-radius: 1vw;
    height: 32vw;
}
.card-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.35vw;
    line-height: 3vw;
    text-transform: uppercase;
/* identical to box height, or 112% */
    text-align: justify;
}
.card-title:hover{
    cursor: pointer;
}
.card-content{
    padding-top: 1.5vw;
}
.active{
    margin-left: 1.7vw;
    color: #FFFFFF;
    padding: 0.1vw 0.3vw;
    border-bottom: 0.25vw solid #23BB86;
}
.unactive{
    margin: 0vw 0.3vw 0vw 2vw;
    color: #ABADB4;
}
.head{
    height: 2.7vw;
    margin: 0vw 1vw 3vw;
    border-bottom: 0.1vw solid rgba(196, 196, 196, 0.72);
    padding: 0vw;
}
.input-field{
    display: grid;
    padding-bottom: 0.9vw;
}
.name-field{
    margin-top: 0.2vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: justify;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.78);
    padding: 0vw 3.5vw;
}
.input{
    display: grid;
    margin: 0.5vw 2.5vw;
    border-radius: 1.5vw;
    background: rgba(180, 180, 180, 0.57);
    height: 2.4vw;
}
input{
    outline: none;
    margin:0vw 1.3vw;
    caret-color: rgba(255, 255, 255, 0.78);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    text-align: justify;
    color: rgba(255, 255, 255, 0.78);
    background-color: rgba(0, 0, 0, 0);
    height: 1.85vw;
    border-style: none;
    border-bottom:0.01vw solid rgba(255, 255, 255, 0.78);
    padding: 0vw;
    line-height: 0vw;
}
.pass{
    font-size: 1.3vw;
}
.btn{
    border-radius: 2vw;
    border-style: none;
    background: #23BB86;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 0.78vw;
    text-align: center;
    text-decoration: underline;
    color: #DBDEE4;
    text-transform: uppercase;
    padding: 0.7vw 3.3vw;
    margin: 1vw 7.9vw 1.6vw;
    cursor: pointer;
}
.card-action{
    width: 100%;
}
.invalid{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 0.77vw;
    color: #FFBF1A;
    max-height: 0;
    padding: 0vw 4vw;
}
.helpers{
    margin: 0vw 4vw;
    border-top: 0.01vw solid  #DBDEE4;
    display: grid;
    grid-template-rows: 1.5vw 1.5vw 1.5vw 1.5vw;
    height: 8vw;
}
.hasError{
    border-style:solid;
    border-color: #F53855;
    border-width: 0.1vw;
}
.message{
    margin-top:-5vw;
    margin-left: 15vw;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8vw;
    align-items: center;
    text-align: center;
    color: #F53855;
    position: absolute;
    
}
.message>img{
    width: 17vw;
    position: absolute;
}
.message>div{
    position: absolute;
    margin-left: 2vw;
    margin-top:0.5vw;
    width: 14.5vw;
}