.register{
    background-color: rgba(30, 54, 88, 0.71);
    border-radius: 1vw;
    height: 32vw;
}
.head-r{
    height: 2.7vw;
    margin: 0vw 1vw 1vw;
    border-bottom: 0.1vw solid rgba(196, 196, 196, 0.72);
    padding: 0vw;
}
.name-field-r{
    margin-top: 0.2vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: justify;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.78);
    padding: 0vw 3.5vw;
}
.btn-r{
    border-radius: 2vw;
    border-style: none;
    background: #23BB86;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 0.78vw;
    text-align: center;
    text-decoration: underline;
    color: #DBDEE4;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.7vw 1.3vw;
    margin: 0vw 6.67vw 1.5vw;
}
.card-action{
    width: 100%;
}
.helpers-r{
    margin: 0vw 4vw;
    border-top: 0.01vw solid  #DBDEE4;
    display: grid;
    grid-template-rows: 1.1vw 1.1vw 1.1vw;
    height: 3.3vw;
}
.invalid-r{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 0.77vw;
    color: #FFBF1A;
    height: 0;
    padding: 0vw 4vw;
}
.message-r{
    margin-top:-4.5vw;
    margin-left: 20vw;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8vw;
    align-items: center;
    text-align: center;
    color: #F53855;
    position: absolute;
    
}
.message-r>img{
    width: 17vw;
    position: absolute;
}
.message-r>div{
    position: absolute;
    margin-left: 1.7vw;
    margin-top:0.4vw;
    width: 14.8vw;
    padding: auto 0px;
}