<template>
  <div class="my_projects">
    <div class="header-mp">
      <span>Мои проекты</span>
    </div>

    <div>
      <router-link to="/projects/create-project" class="create-project-b"><img src="@/assets/png/Pen.png">Создать свой проект</router-link>
    </div>

    <div class="projects-table">
      <div class="projects-table-header">
        <span>Название проекта</span>
        <span>Менеджер</span>
        <span>Мой статус</span>
        <span>Моя роль</span>
      </div>

      <div class="projects-table-item" v-for="project in projects" :key="project.id" :class="{ manager: project.isOwner }">
        <div class="project-item-info">
          <span class="project-item-name">{{ project.project.title }}</span>
          <span class="project-item-slogan">{{ project.project.slogan }}</span>
        </div>

        <span class="project-item-manager">{{ project.owner.name }}</span>

        <span class="project-item-status">{{ project.isOwner? 'Менеджер': 'Участник' }}</span>

        <span class="project-item-role">{{ project.role }}</span>

        <router-link :to="{ name: 'project', params: { projectId: project.project.id }}" class="project-item-more-b">подробнее</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import projectsListUser from "./projectsListUser.js";
export default projectsListUser;
</script>

<style scoped>
@import "~@/assets/views/projectsListUser/ProjectsListUser.css";
</style>
