<template>
  <div class="main-layout">
    <header>
      <div class="header">
          <router-link to="/" class="logo-block">
            <img class="logo" src="@/assets/png/logoza 5.png">
          </router-link>
          <div class="head-menu">
            <router-link to='/' class="head-b">Главная</router-link>
            <router-link to="/projects" class="head-b">Проекты</router-link>
            <router-link to="/users" class="head-b">Тиммейты</router-link>
            <div class ="head-login-b" v-if="!this.getIsAuth()">
              <a class ="head-login" href="#login">Войти</a>
            </div>
            <div v-else>
              <router-link to="/users/profile" class="main-profile">
                <img class="main-avatar" :src="this.getAvatarUserUrl()" alt="фото">
                <span class="main-username">{{this.getUser().name}}</span>
              </router-link>
            </div>
          </div>
      </div>
    </header>
    <router-view/>
    <footer>
      <div class="footer-menu">
        <div>
          <h6>Адрес</h6>
          <div class="foot-text">просп. Мира, 11, Омск, Россия</div>
        </div>
        <div>
          <h6>Контакты</h6>
          <div  class="foot-text">team.up.omgtu@gmail.com</div>
        </div>
        <div>
          <h6>Страницы</h6>
          <div class="foot-text">Найти проект</div>
          <div class="foot-text">Найти тиммейта</div>
        </div>
      </div>
      <div>
        <div class="foot-teamup">TeamUp</div>
        <div class="foot-copyright">Copyright © 2021. All rights reserved.</div>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
methods: {
    ...mapGetters(['getIsAuth', 'getUser', 'getAvatarUserUrl']),
  }
}
</script>

<style scoped>
@import '~@/assets/layouts/MainLayout.css';
</style>

