<template>
  <div class="sidebar-layout">
    <div class="sidebar">
      <router-link to="/">
        <img class="s-logo" src="@/assets/png/logoza 6.png" />
      </router-link>
      <div class="menu">
        <div
          v-if="getIsAuth()"
          class="s-menu-out"
          :class="{ 'active-sidebar-b': $route.name === 'profileMy' }"
        >
          <img src="@/assets/png/user.png" />
          <router-link to="/users/profile" class="b s-menu-b"
            >Мой профиль</router-link
          >
        </div>
        <div
          v-if="getIsAuth()"
          class="s-menu-out"
          :class="{ 'active-sidebar-b': $route.name === 'projectsListUser' }"
        >
          <img src="@/assets/png/projects.png" />
          <router-link to="/projects/user" class="b s-menu-b"
            >Мои проекты</router-link
          >
        </div>
        <div
          class="s-menu-out"
          :class="{ 'active-sidebar-b': $route.name === 'projectsListAll' }"
        >
          <img src="@/assets/png/sidebar-search.png" />
          <router-link to="/projects" class="b s-menu-b"
            >Найти проект</router-link
          >
        </div>
        <div
          class="s-menu-out"
          :class="{ 'active-sidebar-b': $route.name === 'usersAll' }"
        >
          <img src="@/assets/png/teammate.png" />
          <router-link to="/users" class="b s-menu-b"
            >Найти тиммейта</router-link
          >
        </div>
      </div>
      <div class="margin"></div>
      <div class="logout">
        <div v-if="getIsAuth()">
          <img src="@/assets/png/Logout.png" />
          <button @click="exit()" class="logout-b">Выйти</button>
        </div>
        <div v-else>
          <button @click="toLogin()" class="logout-b">Войти</button>
        </div>
      </div>
    </div>
    <div class="s-layout-content">
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions(["logout"]),
    ...mapGetters(["getIsAuth"]),
    async exit() {
      await this.logout().then(() => {
        this.$router.push("/");
      });
    },

    toLogin() {
      this.$router.push("/");
    }
  },
};
</script>

<style scoped>
@import "~@/assets/layouts/SidebarLayout.css";
</style>
