.team-up-b{
    position: absolute;
    background: #FFBF19;
    border-radius: 50px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #222222;
    padding: 8px 20px 9px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
}
.team-up-b:hover{
    cursor: pointer;
}