.member{
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 80px 1fr 3fr 1fr 1fr;
}
.member.manager{
    border-bottom: 1px solid rgba(196, 196, 196, 0.69);
}
.member-avatar{
    background-color: #C4C4C4;
    height: 40px;
    width: 40px;
    margin: 0px auto;
}
.member-avatar>img{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: transparent;
}
.member-info{
    margin: auto;
    display: grid;
}
.member-role{
    margin: auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #222222;
}
.member-info-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #222222;
}
.member-info-rights{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #C5C7CD;
}
.member-role button, .member-role input{
    border: none;
    background-color: transparent;
}
.member-role button:hover,.member-delete button:hover{
    cursor: pointer;
}
.member-role-edit{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    display: flex;
    justify-content: center;
    padding: 6px;
}
.member-role-edit input{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    color: #6b6b6b;
}
.member-role-info img{
    height: 15px;
    margin:0px 7px;
}
.member-profile{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    background: #29CC97;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: auto;
    padding: 6px 15px;
}
.member-delete button{
    background: #F5F9FA;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 4px 15px;
    font-family: Open Sans;
    font-style: normal;
    margin: auto;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #F53855;
}
.member-delete{
    display: grid;
}