.project-settings{
    display: grid;
    text-align: center;
    padding: 20px;
}
.project-delete{
    margin: auto;
    background: #F5F9FA;
    border: 1px solid #F53855;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 7px;
    color: #F53855;
}
.project-delete > img{
    margin-right: 5px;
}
#red-text-s{
    color:  #F53855;
}
.text-s{
    margin: 10px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    color: #4F5665;
}