<template>
  <div>
    <button @click.prevent="isTeamUp = true" class="team-up-b">TeamUp</button>
    <TeamUp v-if="isTeamUp" @answer='TeamUp' :baseValue="'Сообщение менеджеру проекта'"/>
  </div>
</template>

<script>
import TeamUp from '@/pages/components/TeamUp.vue'
import { mapActions, mapGetters } from 'vuex'
export default {
  props: ['user'],
  data: () => ({
    isTeamUp: false
  }),

  methods: {
    ...mapActions(['userTeamUp']),

    async TeamUp(data) {
      if(data?.isAnswer) {
        const userData = {
          projectId: this.$route.params.projectId,
          data: {
            message: data.value
          }
        }
        await this.userTeamUp(userData)
      }
      this.isTeamUp = false
    },
  },
  components: {
    TeamUp
  }
}
</script>

<style scoped>
@import "~@/assets/views/Project/components/ButtonTeamUp.css";
</style>

