<template>
  <div>
    <div v-for="(candidate, index) in candidates" :key="index" class="candidate">
      <div class="candidate-avatar">
        <img
          height="40px"
          width="40px"
          :src="candidate.user.imageUrl"
          alt="аватар"
        />
      </div>
      <div class="candidate-info">
        <span class="candidate-info-name">{{ candidate.user.name }}</span>
        <span class="candidate-info-rights">{{ candidate.user.resume.profession }}</span>
      </div>
      <div class="candidate-profile">
        <router-link :to="`/users/profile/${candidate.user.id}`" class="b">В профиль</router-link>
      </div>
      <div class="candidate-message">
        {{ candidate.message }}
      </div>
      <div class="candidate-status">
        <div v-if="candidate.isUserAccept && !candidate.isTeamOwnerAccept">
          <button @click.prevent="joinInTeam(index)" class="candidate-status-g">Добавить</button>
          <button @click.prevent="notJoinInTeam(index)" class="candidate-status-r">Отклонить</button>
        </div>
        <div v-if="!candidate.isUserAccept && candidate.isTeamOwnerAccept">
          <button @click.prevent="notJoinInTeam(index)" class="candidate-status-r">отменить заявку</button>
        </div>
      </div>
      <div class="candidate-date">{{ candidate.createdAt.substr(0, 10) }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: ['candidates'],

  methods: {
    ...mapActions(['takeUserInTeam', 'notTakeUserInTeam']),

    async joinInTeam(index) {
      const userData = {
          projectId: this.$route.params.projectId,
          userId: this.candidates[index].user.id
        }
      await this.takeUserInTeam(userData)
        .then(() => {
          this.candidates.splice(index, 1)
        })
    },
    async notJoinInTeam(index) {
      const userDao = {
        projectId: this.$route.params.projectId,
        userId: this.candidates[index].user.id,
      }
      await this.notTakeUserInTeam(userDao)
        .then(() => {
          this.candidates.splice(index, 1)
        })
    },
  }
}
</script>

<style scoped>
@import "~@/assets/views/Project/components/CandidateList.css";
</style>
