<template>
  <div>
    <form @submit.prevent="editData" class="project-card">
      <div>
        <div class="project-data-block">
          <span class="project-data">Название</span>
          <div class="project-edit-block">
            <span v-if="!isEdit">{{ info.title }}</span>
            <input
              class="project-input"
              v-else
              type="text"
              v-model.trim="info.title"
              @change="onChangeTitle()"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Слоган</span>
          <div class="project-edit-block">
            <span v-if="!isEdit">{{ info.slogan }}</span>
            <input
              class="project-input"
              v-else
              type="text"
              v-model.trim="info.slogan"
              @change="onChangeShortdescription()"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Описание</span>
          <div class="project-edit-block">
            <span v-if="!isEdit">{{ info.description }}</span>
            <input
              class="project-input"
              v-else
              type="text"
              v-model.trim="info.description"
              @change="onChangedescription()"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Кто требуется</span>
          <div class="project-edit-block">
            <span v-if="!isEdit">{{ info.looking_for }}</span>
            <input
              class="project-input"
              v-else
              type="text"
              v-model.trim="info.looking_for"
              @change="onChangeLookingFor()"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Контакты</span>
          <div class="project-edit-contact-block">
            <div v-for="(contact, index) in info.contacts" :key="index">
              <span v-if="!isEdit">{{ contact }}</span>
              <input
                class="project-input-contact"
                v-else
                type="text"
                v-model.trim="info.contacts[index]"
                @change="onChangeContacts()"
              />
              <button
                v-if="isEdit"
                @click.prevent="spliceContact(index)"
                class="proj-cont-b"
              >
                -
              </button>
            </div>
            <button
              v-if="isEdit"
              @click.prevent="pushContact()"
              class="proj-cont-add"
            >
              +
            </button>
          </div>
        </div>
      </div>
      <button
        type="button"
        v-if="!isEdit && user.isOwner"
        @click.prevent="isEdit = true"
        class="edit-project-b"
      >
        <img src="@/assets/png/edit.png" />
        Редактировать
      </button>
      <button type="submit" v-if="isEdit" class="save-edit-b">
        <img src="@/assets/png/save.png" />
        Сохранить изменения
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: ['info', 'user'],
  data: () => ({
    isEdit: false,
    editProject: {}
  }),
  methods: {
    ...mapActions(['editProjectData']),

    onChangeTitle() { this.editProject.title = this.info.title },
    onChangeShortdescription() { this.editProject.slogan = this.info.slogan },
    onChangedescription() { this.editProject.description = this.info.description },
    onChangeLookingFor() { this.editProject.looking_for = this.info.looking_for },
    onChangeContacts() { this.editProject.contacts = this.info.contacts },
    pushContact() { this.info.contacts.push('') },
    spliceContact(index) {
      this.editProject.contacts = this.info.contacts.splice(index, 1)
    },


    async editData() {

      if (Object.keys(this.editProject).length == 0) {
        this.isEdit = false
        return
      }

      // if (this.editProject.contacts) {
        this.editProject.contacts = this.editProject.contacts?.join('#')
      // }

      const infoData = {
        id: this.$route.params.projectId,
        data: this.editProject
      }

      await this.editProjectData(infoData)
        .then(() => {
          this.isEdit = false
          this.editProject = {}
        })
    }
  }
}
</script>

<style scoped>
@import "~@/assets/views/Project/components/GeneralInfo.css";
</style>
