<template>
  <div>
    <div
      v-for="(member, index) in members"
      :key="index"
      class="member"
      :class="{ manager: member.isOwner }"
    >
      <div class="member-avatar">
        <img
          height="40px"
          width="40px"
          :src="member.user.imageUrl"
          alt="аватар"
        />
      </div>
      <div class="member-info">
        <span class="member-info-name">{{ member.user.name }}</span>
        <span class="member-info-rights">{{
          member.isOwner ? "менеджер" : "участник"
        }}</span>
      </div>
      <div class="member-role">
        <div v-if="member.isEditUser" class="member-role-edit">
          <input type="text" v-model.trim="member.role" />
          <button type="button" @click.prevent="onChangeMemberRole(index)">
            <img src="@/assets/png/m-save.png" />
          </button>
        </div>
        <div v-else class="member-role-info">
          <span>{{ member.role }}</span>
          <button
            v-if="user.isOwner || user.id === member.user.id"
            type="button"
            @click.prevent="member.isEditUser = true"
          >
            <img src="@/assets/png/edit.png" />
          </button>
        </div>
      </div>
      <div class="member-profile">
        <router-link :to="`/users/profile/${member.user.id}`" class="b">В профиль</router-link>
      </div>
      <div class="member-delete">
        <button
          type="button"
          v-if="!member.isOwner && (user.isOwner || user.id === member.user.id)"
          @click.prevent="onRemoveInTeam(index)"
        >
          {{ user.isOwner ? "исключить" : "покинуть" }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: ['members', 'user'],
  methods: {
    ...mapActions(['removeInTeam', 'changeRole']),

    async onChangeMemberRole(index) {
      const userDao = {
        projectId: this.$route.params.projectId,
        userId: this.members[index].user.id,
        data: {
          role: this.members[index].role
        }
      }

      await this.changeRole(userDao)
        .then(() => {
          this.members[index].isEditUser = false
        })
    },

    async onRemoveInTeam(index) {
      const userDao = {
        projectId: this.$route.params.projectId,
        userId: this.members[index].user.id,
      }

      await this.removeInTeam(userDao)
        .then(() => {
          this.members.splice(index, 1)
        })
    },
  }
}
</script>

<style scoped>
@import "~@/assets/views/Project/components/MembersList.css";
</style>
