<template>
  <div class="project-settings">
    <button @click.prevent="deleteProject" class="project-delete"><img src="@/assets/png/delete.png"> Удалить проект</button>
    <span class="text-s"><span id="red-text-s">Внимание!</span> После подтверждения удаления проект нельзя будет восстановить, члены команды будут исключены.</span>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions(['deliteProject']),

    async deleteProject() {
      await this.deliteProject(this.$route.params.projectId)
        .then(() => {
          this.$router.push('/projects')
        })
    }
  }
}
</script>

<style scoped>
@import "~@/assets/views/Project/components/Settings.css";
</style>
