h6{
    font-size: 1.1vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    color: #222222;
    max-width: 100%;
    margin: 3.5vw 0vw 1vw 8vw;
}
.foot-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    color: #73738D;
    max-width: 100%;
    margin:0vw 6vw 0.8vw 8vw;
}
.footer-menu{
    display: grid;
    grid-template-columns: 21vw 21vw 21vw;
    width: 63vw;
    margin-left:16vw;
}
.foot-teamup{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    text-align: center;
    color: #F53855;
    margin: 3.5vw 0vw 0.3vw;
}
.foot-copyright{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    text-align: center;
    color: #73738D;
}
header{
    height: 8vw;
    border-bottom-style: solid;
    border-color: #C4C4C4;
    border-width: 0.12vw;
    display: block;
}
.header{
    height: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 .head-b:link{
    text-decoration: none;
    color: inherit;
}
.head-login:visited{
    color: inherit;
}
.logo{
    height: 8vw;
    display: block;
}
.logo-block{
    height: 8vw;
}
.head-b{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    color: #4F5665;
    margin: 2vw 3.3vw 3vw 0vw;
    padding-top: 1vw;
}
.head-menu{
    width: 53vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.head-login{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    text-align: center;
    text-decoration-line: underline;
    height: 1vw;
    display: block;
}
.head-login-b{
    margin: 2.3vw 3.3vw 3vw 0vw;
    color: #F53855;
    border: 0.1vw solid #F53855;
    border-radius: 2vw;
    height: 2.7vw;
    padding:0.5vw 3vw 0vw;
}
.activePage{
    color: #000;
}

.main-avatar{
    height: 3.5vw;
    width: 3.5vw;
    margin:2vw 1vw;
}
.main-username{
    font-size: 1.5vw;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    color: #23BB86;
    text-decoration: none;
}
.main-profile:visited, .main-profile:active, .main-profile:link{
    color: inherit;
    text-decoration: none;
}
.main-profile{
    width: 5vw;
    display: flex;
    justify-content: left;
    align-items: center;
}