.sidebar-layout{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}
.sidebar{
    position: fixed;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    height: 100vh;
    width: 16.7%;
    background-color:#363740;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.s-layout-content{
    margin-left: 16.7%;
}
.s-logo{
    display: block;
    height: 75px;
    margin: 10px 0 60px;
}
.menu{
    display: grid;
    width: 100%;
    height: min-content;
    margin-bottom: auto;
}
.s-menu-b{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.s-menu-out{
    color: white;
    opacity: 0.4;
    margin-left: 7px;
    padding: 6% 5px;
}
.s-menu-out>img{
    margin: 0 15px;
}
.active-sidebar-b{
    opacity: 1;
    background-color: #9fa2b417;
    border-left: 3px solid white;
}
.margin{
    max-height: 100vw;
    min-height: 0;
    height: auto;
    border-top:1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 20px;
}
.logout-b{
    display: block;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: white;
    border: none;
    background-color: inherit;
}
.logout-b:hover{
    cursor: pointer;
}
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6% 5px;
    height: min-content;
}
.logout>img{
    margin-right: 5px;
}