<template>
  <div class="users">
    <div class="header-u">
      <span>Список тиммейтов</span>
    </div>

    <div class="user-table">
      <div v-for="user in users" :key="user.id" class="user-table-item">
        <div class="user-item-photo">
          <img
            height="150px"
            width="150px"
            :src="user.imageUrl"
            alt="аватар"
          />
        </div>
        <span class="user-item-name">{{ user.name }}</span>
        <span class="user-item-role">{{ user.profession }}</span>
        <router-link :to="`/users/profile/${user.id}`" class="user-item-more-b"
          >подробнее</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import usersAll from "./usersAll";
export default usersAll;
</script>

<style scoped>
@import "~@/assets/views/users/UsersAll.css";
</style>
