<template>
  <div class="login">
    <form class="card auth-card" @submit.prevent="submitHandler">
      <div class="card-content">
        <div class="head">
          <span class="card-title active">Войти</span>
          <span class="card-title unactive" @click="$emit('toRegister')">Регистрация</span>
        </div>
        <div class="input-field">
          <label class="name-field">Электронная почта</label>
          <div class="input" :class="{ hasError: $v.email.$dirty && (!$v.email.required || !$v.email.email) }">
            <input
              type="text"
              v-model.trim="email"
            >
          </div>
          <div >
            <small
              class="helper-text invalid"
              v-if="$v.email.$dirty && !$v.email.required"
            >Поле Email не должно быть пустым</small>
            <small
              class="helper-text invalid"
              v-else-if="$v.email.$dirty && !$v.email.email"
            >Введите корретный Email</small>
          </div>
        </div>
        <div class="input-field">
          <span class="name-field">Пароль</span>
          <div class="input" :class="{ hasError: $v.password.$dirty && (!$v.password.required || !$v.password.minLength) }">
            <input class="pass"
              type="password"
              autocomplete="on"
              v-model.trim="password"
            >
          </div>
          <small
            class="helper-text invalid"
            v-if="$v.password.$dirty && !$v.password.required"
          >Введите пароль
          </small>
          <small
            class="helper-text invalid"
            v-else-if="$v.password.$dirty && !$v.password.minLength"
          >Пароль не должен быть короче {{$v.password.$params.minLength.min}} символов.
          </small>
        </div>
      </div>
      <div class="card-action">
        <button
          class="btn auth-submit"
          type="submit"
        >Войти
        </button>
        <div class="helpers">
          <div v-if="error.message" class="message">
            <img src="@/assets/png/invalid.png">
            <div>{{error.message}}</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { email, required, minLength } from 'vuelidate/lib/validators'
export default {
  name: 'login',
  data: () => ({
    email: '',
    password: '',
    error: {}
  }),
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(8) }
  },
  methods: {
    ...mapActions(['login', 'getUserAvatar']),
    ...mapGetters(['getUser']),

    async submitHandler () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const loginRequest = {
        email: this.email,
        password: this.password
      }
      await this.login({ ...loginRequest})
        .then(async () => {
          await this.getUserAvatar(this.getUser().avatar)
        })
      .catch(e => {
        this.error = e.response?.data
      })
    }
  }
}
</script>

<style scoped>
@import '~@/assets/views/main/components/Login.css';
</style>
