<template>
  <div class="register">
    <form class="card auth-card" @submit.prevent="submitHandler">
      <div class="card-content">
        <div class="head-r">
          <span class="card-title unactive" @click="$emit('toLogin')">Войти</span>
          <span class="card-title active">Регистрация</span>
        </div>
        <div class="input-field">
          <span class="name-field-r">Электронная почта</span>
          <div class="input" :class="{ hasError: $v.email.$dirty && (!$v.email.required || !$v.email.email) }">
            <input
              type="text"
              v-model.trim="email"
            >
          </div>
          <small
            class="helper-text invalid-r"
            v-if="$v.email.$dirty && !$v.email.required"
          >Поле Email не должно быть пустым</small>
          <small
            class="helper-text invalid-r"
            v-else-if="$v.email.$dirty && !$v.email.email"
          >Введите корретный Email</small>
        </div>
        <div class="input-field">
          <span class="name-field-r">Имя пользователя</span>
          <div class="input" :class="{ hasError: $v.name.$dirty && !$v.name.required }">
            <input
              type="text"
              v-model.trim="name"
            />
          </div>
          <small
            class="helper-text invalid-r"
            v-if="$v.name.$dirty && !$v.name.required"
            >Поле имя не должно быть пустым</small
          >
        </div>
        <div class="input-field">
          <span class="name-field-r">Пароль</span>
          <div class="input" :class="{ hasError: $v.password.$dirty && (!$v.password.required || !$v.password.minLength) }">
            <input class="pass"
            type="password"
            autocomplete="on"
            v-model.trim="password"
            />
          </div>
          <small
            class="helper-text invalid-r"
            v-if="$v.password.$dirty && !$v.password.required"
            >Введите пароль
          </small>
          <small
            class="helper-text invalid-r"
            v-else-if="$v.password.$dirty && !$v.password.minLength"
            >Пароль не должен быть короче
            {{ $v.password.$params.minLength.min }} символов.
          </small>
        </div>
        <div class="input-field">
          <span class="name-field-r">Пароль еще раз</span>
          <div class="input" :class="{ hasError: $v.repeat_password.$dirty && !$v.repeat_password.sameAsPassword }">
            <input class="pass"
              type="password"
              autocomplete="on"
              v-model.trim="repeat_password"
            />
          </div>
          <small
            class="helper-text invalid-r"
            v-if="$v.repeat_password.$dirty && !$v.repeat_password.sameAsPassword"
            >Пароли должны быть идентичными
          </small>
        </div>
      </div>
      <div class="card-action">
        <button class="btn-r auth-submit" type="submit">
          Зарегистрироваться
        </button>
        <div v-if="message" class="message-r">
          <img src="@/assets/png/invalid.png">
          <div>{{message}}</div>
        </div>
        <div v-if="error.message" class="message-r">
          <img src="@/assets/png/invalid.png">
          <div>{{error.message}}</div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { email, required, minLength, sameAs } from 'vuelidate/lib/validators'
export default {
  name: 'register',
  data: () => ({
    name: '',
    email: '',
    password: '',
    repeat_password: '',

    message: '',
    error: {}
  }),
  validations: {
    name: { required },
    email: { email, required },
    password: { required, minLength: minLength(8) },
    repeat_password: { sameAsPassword: sameAs('password') }
  },
  methods: {
    ...mapActions(['register']),

    async submitHandler () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const registerRequest = {
        name: this.name,
        email: this.email,
        password: this.password
      }

      await this.register({ ...registerRequest})
      .then(() => {
        this.message = 'Подтвердите регистрацию на почте'
      })
      .catch(e => {
        this.error = e.response?.data
      })
    }
  }
}
</script>

<style scoped>
@import '~@/assets/views/main/components/Register.css';
</style>
