.project{
    /*width: 83.3%;*/
    background-color: #F5F9FA;
    min-height: 100vh;
}
.project-slogan{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0px;
    color: #8083A3;
}
.header-project{
    display: grid;
    grid-template-columns: 1fr;
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 2px;
    color: #000000;
    width: auto;
    background-color: white;
    height: min-content;
    padding: 15px 0px 15px 40px;
}
.members-card{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin: 80px 50px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
    padding: 7px 20px;
}
.members-label{
    padding: 10px;
    width: max-content;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #86878C;
}
.members-label.active{
    border-bottom: 3px solid #4F5665;
    padding: 10px;
    width: max-content;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #4F5665;
}
.members-label:hover{
    cursor: pointer;
}
.members-menu{
    border-bottom: 1px solid rgba(196, 196, 196, 0.69);
    display: flex;
    flex-direction: row;
}

.project-card{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin: 70px 50px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
}
.project-data{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #8083A3;
}
.project-data-block{
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 20px;
}
.project-edit-block  span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #222222;
}
.proj-cont-b{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #A1A4BB;
    margin: 10px;
}
.proj-cont-add{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #A1A4BB;
    margin:10px 0px;
}
.project-input{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    width:70%;
    font-size: 13px;
    color: #222222;
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
}
.project-edit-contact-block{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-edit-contact-block span{
    margin-right: 10px;
}
.project-input-contact{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    font-size: 13px;
    color: #222222;
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
}
.save-edit-b{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4F5665;
    background: #BAE8DA;
    border-radius: 5px;
    border: none;
    margin: 10px 20px 20px auto;
    padding: 5px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.save-edit-b>img{
    margin: 3px;
}
.edit-project-b{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #8083A3;
    background-color: transparent;
    border: none;
    margin: 0px 20px 20px;
}
.edit-project-b:hover, .save-edit-b:hover{
    cursor: pointer;
}
.edit-project-b>img{
    margin: 3px;
}