<template>
  <div class="activate">
    <div v-if="message">{{message}}</div>
    <div v-else>Загрузка...</div>
  </div>
</template>

<script>
import activate from './activate.js'
export default activate
</script>
