<template>
  <div class="profile">
    <div class="header-p">
      {{user.name}}
    </div>
    <div class="another-user-card">
      <div class="photo">
        <img height="175px" width="160px" :src="user.imageUrl" alt="фото" />
      </div>
      <div class="big-block">
        <div class="name-block">
          <span class="name">{{user.name}}</span>
          <span class="prof">{{user.resume.profession}}</span>
        </div>
        <table>
          <tr>
            <td class="data">Возраст</td>
            <td>
              <span class="data-info">{{user.age}}</span>
            </td>
          </tr>
          <tr>
            <td class="data">Организация</td>
            <td>
              <span class="data-info">{{user.organization}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="big-block">
        <span class="block-name">Контакты</span>
        <table>
          <tr v-for="(contact, index) in user.contacts" :key="index">
            <td>
              <span class="data">{{contact.contact_name}}</span>
            </td>
            <td>
              <span class="data-info">{{contact.url}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <span id="skills" class="block-name">Навыки</span>
        <table>
          <tr v-for="(skill, index) in user.resume.skills" :key="index">
            <td>
              <span class="data-info">{{skill}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <ButtonTeamUp v-if="String(getUser().id) !== String(this.$route.params.userId) && getIsAuth()" :userId="this.$route.params.userId" />

    <div v-if="user.resume" class="another-resume">
      <div class="r-label">резюме</div>
      <div class="resume-fild">
        <span>{{user.resume.about_me}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import profileUser from './profileUser.js'
export default profileUser
</script>

<style scoped>
@import '~@/assets/views/profile/Profile.css';
</style>
