<template>
  <div class="profile">
    <form @submit.prevent="editData">
      <div class="header-p">Мой профиль</div>
      <div class="user-card">
        <div class="photo">
          <input v-if="isEdit" id="changePhoto" type="file" ref="file" accept="image/*" @change="onChangeImage()">
          <label v-if="isEdit" for="changePhoto" id="changePhoto-l"><img src="@/assets/png/add photo.png">Изменить фото</label>
          <img height="175px" width="160px" :src="this.getAvatarUserUrl()" alt="фото">
        </div>
        <div class="big-block">
          <div class="name-block">
            <span v-if="!isEdit" class="name">{{ user.name }}</span>
            <input
              v-else
              type="text"
              v-model.trim="user.name"
              @change="onChangeName()"
              class="name-edit"
              placeholder="ФИО"
              :class="{
                hasError: $v.user.name.$dirty && !$v.user.name.required,
              }"
            />
            <span v-if="!isEdit" class="prof">{{
              user.resume.profession
            }}</span>
            <input
              v-else
              type="text"
              v-model.trim="user.resume.profession"
              @change="onChangeProfession()"
              class="name-edit"
              placeholder="Квалификация"
            />
          </div>
          <table>
            <tr>
              <td class="data">Возраст</td>
              <td>
                <span v-if="!isEdit" class="data-info">{{ user.age }}</span>
                <input
                  v-else
                  type="number"
                  min="0"
                  v-model.trim="user.age"
                  @change="onChangeAge()"
                  class="data-edit"
                />
              </td>
            </tr>
            <tr>
              <td class="data">Организация</td>
              <td>
                <span v-if="!isEdit" class="data-info">{{
                  user.organization
                }}</span>
                <input
                  v-else
                  type="text"
                  v-model.trim="user.organization"
                  @change="onChangeOrganization()"
                  class="data-edit"
                />
              </td>
            </tr>
          </table>
        </div>
        <div class="big-block">
          <span class="block-name">Контакты</span>
          <table>
            <tr v-for="(contact, index) in user.contacts" :key="index">
              <td>
                <span v-if="!isEdit || contact.isOld" class="data">{{
                  contact.contact_name
                }}</span>
                <input
                  v-else
                  type="text"
                  v-model.trim="contact.contact_name"
                  class="contact-name"
                  placeholder="Название"
                  :class="{
                    hasError:
                      $v.user.contacts.$each[index].contact_name.$dirty &&
                      !$v.user.contacts.$each[index].contact_name.required,
                  }"
                />
              </td>
              <td>
                <span v-if="!isEdit" class="data-info">{{ contact.url }}</span>
                <input
                  v-else
                  type="text"
                  v-model.trim="contact.url"
                  @change="onChangeContactUrl(contact)"
                  class="contact-url"
                  placeholder="Ссылка"
                  :class="{
                    hasError:
                      $v.user.contacts.$each[index].url.$dirty &&
                      !$v.user.contacts.$each[index].url.required,
                  }"
                />
              </td>
              <td>
                <button
                  v-if="isEdit"
                  @click.prevent="spliceContacts(index)"
                  class="contact-b"
                >
                  -
                </button>
              </td>
            </tr>
            <button
              v-if="isEdit"
              @click.prevent="pushContacts()"
              class="contact-b"
            >
              +
            </button>
          </table>
        </div>
        <div>
          <span id="skills" class="block-name">Навыки</span>
          <table>
            <tr v-for="(skill, index) in user.resume.skills" :key="index">
              <td>
                <span v-if="!isEdit" class="data-info">{{ skill }}</span>
                <input
                  v-else
                  type="text"
                  v-model.trim="user.resume.skills[index]"
                  @change="onChangeSkills()"
                  :class="{
                    hasError:
                      $v.user.resume.skills.$each[index].$dirty &&
                      !$v.user.resume.skills.$each[index].required,
                  }"
                  class="contact-url"
                />
              </td>
              <td>
                <button
                  v-if="isEdit"
                  @click.prevent="spliceSkill(index)"
                  class="contact-b"
                >
                  -
                </button>
              </td>
            </tr>
            <button
              v-if="isEdit"
              @click.prevent="pushSkill()"
              class="contact-b"
            >
              +
            </button>
          </table>
        </div>
        <button
          class="edit-b"
          type="button"
          v-if="!isEdit"
          @click.prevent="isEdit = true"
        >
          <img src="@/assets/png/edit.png" />
          Редактировать
        </button>
        <button class="save-b" type="submit" v-else>
          <img src="@/assets/png/save.png" />
          Сохранить изменения
        </button>
      </div>

      <div class="resume">
        <div class="r-menu">
          <div
            class="r-label"
            :class="{ active: currentTab === tab[0] }"
            @click.prevent="currentTab = tab[0]"
          >
            Pезюме
          </div>
          <div
            class="r-label"
            :class="{ active: currentTab === tab[1] }"
            @click.prevent="currentTab = tab[1]"
          >
            Заявки
          </div>
        </div>

        <div v-if="currentTab === tab[0] && user.resume">
          <div v-if="!isEdit" class="resume-fild">
            <span>{{ user.resume.about_me }}</span>
          </div>
          <div v-else class="resume-fild">
            <textarea
              type="textar"
              v-model.trim="user.resume.about_me"
              @change="onChangeAboutMe()"
            ></textarea>
          </div>
        </div>

        <Applications
          v-if="currentTab === tab[1] && user.candidates.length"
          :candidates="user.candidates"
          :userId="getUser().id"
        />
      </div>
    </form>
  </div>
</template>

<script>
import profile from "./profileMy.js";
export default profile;
</script>

<style scoped>
@import "~@/assets/views/profile/Profile.css";
</style>
