.teamup_message{
    position: absolute;
    display: block;
    margin-left: 200px;
    margin-top: -10px;
    border: 1px solid #FFBF19;
    border-radius: 10px;
    width: 300px;
    display: flex;
    align-items: flex-start;
}
.teamup-send-block{
    display: flex;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    justify-content:flex-end;
    align-items:center;
    flex-grow: 2;
    margin: 10px;
}
.teamup-send-block input{
    margin-left: 10px;
    flex-grow: 2;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid #C4C4C4;;
    color: #737886;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.teamup_message button{
    background-color: transparent;
    border: none;
}
.teamup_messege-exit{
    margin: 3px 0px;
    height: 14px;
    display: flex;
}