.main{
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 1.4vw;
}
.block1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    background-image: url('../../png/block1.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position:left top;
    height: 38.42vw;
    margin-top:1.5vw ;
    margin-bottom: 1vw;
}
.block2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.block3{
    width: 85.5vw;
    margin: 0% auto 0% 6.1vw;
    display: grid;
    grid-template: "rocket text1 text1" auto
    "text2 text2 search" auto
    /37vw 18.5vw 30vw;
    border-bottom-style: solid;
    border-color: #C4C4C4;
    border-width: 0.1vw;
    padding-bottom: 2vw;
}
.block4{
    display: grid;
    grid-template-columns: 45vw auto;
    background: url('../../png/image 38.png') no-repeat;
    background-size:100%;
    background-position:left top;
    height: 36.9vw;
    margin-top: 2vw;
}
.block4-back{
    background-color: rgba(226, 230, 232, 0.28);;
}
h1{
    margin-top: 7.27vw;
    margin-left: 3.87vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3.08vw;
    color: #23BB86;
    text-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}
h2{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: bold;
    font-size: 2.84vw;
    width: 94%;
    margin: 0% 3% 2.9vw;
    padding-top: 3.5vw;
/* or 102% */
    text-align: center;
    border-top-style: solid;
    border-color: #C4C4C4;
    border-width: 0.12vw;
    color: #4F5665;

    mix-blend-mode: normal;
}
h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6vw;
    color: #001F7E;
    mix-blend-mode: normal;
    padding: 3.5vw 3vw 4vw 7.5vw;
    line-height: 1.7vw;
    margin-bottom: 0px;
}
#num3{
    padding-bottom: 2.5vw;
}
h4{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
    color: #23BB86;
    margin: 1vw 1vw;
}
hr{
    color: #F53838;
    border-width: 0.01vw;
    box-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.4);
}
#hr1{
    width: 4.8vw;
    margin-left: 1.35vw;
}
#hr2{
    width: 4.7vw;
    margin-left: 6vw;
}
p{  
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    color: #4F5665;
}
.block1-text>p{
    margin-top: 2.68vw;
    margin-left: 3.8vw;
    padding-right: 8vw;
    font-size: 1.25vw;

    color: #FFFFFF;
}
.block1-text{
    height: 100%;
}
.block2-text{
    margin-top: 0px;
    font-family: Mulish;
    font-style: italic;
    font-weight: normal;
    font-size: 1vw;
    text-align: right;
    color: #4F5665;
    padding: 0.3vw 3vw 3vw 10vw;
    mix-blend-mode: normal;
}
.block3-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.13vw;
    letter-spacing: 0.03vw;
    color: #4F5665;
    padding: 0px;
    margin: 0px;
}
.block3-text-1{
    padding: 0 1.1vw 0 2vw;
    margin: 6.8vw 0vw 1.7vw;
    box-shadow: 0.4vw 0.4vw 0.3vw rgba(0, 0, 0, 0.4);
    grid-area: text1;
}
.block3-text-2{
    padding: 0 0.3vw 0 1.8vw;
    margin: 4vw 2.7vw 4vw 2vw;
    box-shadow: -0.4vw 0.4vw 0.3vw rgba(0, 0, 0, 0.4);
    grid-area: text2;
}
#text3{
    padding-right: 7.5vw;
}
.block4-text-1, .block4-text-2{
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
    font-size: 1.58vw;
    color: rgba(0, 0, 0, 0.7);
}
.block4-text-1{
    margin: 6.1vw 3vw 1.75vw;
}
.block4-text-2{
    margin: 0vw 0vw 0vw 16vw;
}
.Neo{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;

}
.find-project-button, .find-teammate-button{
    
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 0.841vw;
display: inline-block;
align-items: center;
text-align: center;
letter-spacing: 0.05vw;
text-transform: uppercase;
text-decoration: none;
border:none;
height: 3.2vw;
border-radius: 1.1vw;
/* grayscale / white */
color: #FFFFFF;
}

.find-project-button{
    margin-top: 22.6vw;
    margin-left: 4vw;
    width: 11vw;
    background-color:  #1844CA;
    box-shadow: 0.45vw 0.45vw 0.1vw rgba(0, 0, 0, 0.7);
}

.find-teammate-button{
    margin-top: 22.6vw;
    margin-left: 5vw;
    width: 12vw;
    background-color: #F53855;
    box-shadow: -0.45vw 0.45vw 0.1vw rgba(0, 0, 0, 0.7);
}

.numbers{
    position: absolute;
    z-index: -1;
    font-family: Open Sans;
    font-style: normal;
    font-weight:bold;
    font-size: 15vw;
    line-height: 0%;
    color: #9AE0C7;
    padding-top: 7vw;
    padding-left: 4vw;
}
.loop{
    width: 6vw;
    position: absolute;
    margin-left: 6vw;
    margin-top: 10.6vw;
}
.rocket_img, .search_img,.rocket_img> img, .search_img>img{
    display:block;
    width: 100%;
    max-width: 37vw;
}
.rocket_img{
    grid-area: rocket;

}
.search_img{
    grid-area: search;
}
.red{
    color:#fc2848;
    font-weight: 300;
}
.green{
    color: #23BB86;
}
.rectangle{
    margin-left: 24.5vw;
    margin-top: 2vw;
    height: 7vw;
    width: 25vw;
    position: absolute;
    border-radius: 0.2vw;
    box-shadow: inset 0 0 0.4vw 0.05vw #f5385438, 0 0 0.4vw 0.05vw #f5385438;
}
.log-reg{
    padding: 3.1vw 3vw 0vw 16.7vw;
}