.profile{
/*width: 83.3%;*/
    background-color: #F5F9FA;
    min-height: 100vh;
}
.header-p{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 2px;
    color: #000000;
    width: auto;
    background-color: white;
    height: min-content;
    padding: 25px 0px 25px 40px;
}
.user-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    margin: 70px 50px 40px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
}
.another-user-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    margin: 70px 50px 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
    padding-bottom: 10px;
}
.photo{
    height: 175px;
    width: 160px;
    margin: 30px 30px 10px 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.name{
    min-width: 100px;
    max-width: max-content;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.2px;

    color: #252733;
    margin: 0px 0px 0px;
    height: 20px;
    display: block;
}
.prof{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    color: #4F5665;
    margin: 0px 0px 5px;
    height: 20px;
    display: block;
    min-width: 100px;
    max-width: max-content;
}
.data{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #8083A3;
}
.data-info{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #1A1C1D;
}
table{
    width: 70%;
    margin: 0 10px;
}
tr{
    height: 25px;
}
.block-name{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #4F5665;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(196, 196, 196, 0.69);
    padding:20px 0px 10px 10px;
    margin:0px 10px 10px;
    display: block;
}
.name-block{ 
    border-bottom: 1px solid rgba(196, 196, 196, 0.69);
    margin-right: 10px;
    margin-bottom: 10px;
}
.big-block{
    border-right: 1px solid rgba(196, 196, 196, 0.69);
    margin-top: 20px;
    width: 100%;
}
.edit-b{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #8083A3;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    margin-top: 5px;
}
.edit-b:hover, .save-b:hover{
    cursor: pointer;
}
.edit-b>img{
    margin: 3px;
}
.name-edit{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #DDDDDE;
    display: block;
    margin-bottom: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #000000cc;
    min-width: min-content;
    width: 250px;
}
.data-edit{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    width: 130px;
}
.contact-name{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #8083A3;
    width: 70px;
    margin-right: 5px;
}
.contact-url{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #1A1C1D;
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    width: 140px;
}
.contact-b{
    background: rgba(219, 222, 228, 0.23);
    border: 0.2px solid #C4C4C4;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #A1A4BB;
}
.save-b{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4F5665;
    background: #BAE8DA;
    border-radius: 5px;
    border: none;
    margin: 10px 20px 20px 35px;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.save-b>img{
    margin: 3px;
}

.resume{
    background-color: white;
    margin: 0px 50px 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
    padding: 0px 10px;
}
.another-resume{
    background-color: white;
    margin: 60px 50px 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
}
.r-label{
    padding: 10px;
    width: max-content;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #86878C;
}

.r-label.active{
    border-bottom: 3px solid #4F5665;
    padding: 10px;
    width: min-content;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #4F5665;
}
.r-label:hover{
    cursor: pointer;
}

.r-menu{
    border-bottom: 1px solid rgba(196, 196, 196, 0.69);
    display: flex;
    flex-direction: row;
}
.resume-fild{
    margin: 0 10px;
    width: 98%;
}

.resume-fild> textarea{
    width: 92%;
    font-family: Open Sans;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    border: none;
    color: #1A1C1D;
    padding: 0px 40px;
    margin: 10px 0px;
    height: max-content;
    /*background-color: rgba(219, 222, 228, 0.23);*/
}
.resume-fild> span{
    width: 92%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    border: none;
    color: #1A1C1D;
    padding: 0 40px;
    display: block;
    margin: 10px 0;
}
#skills{
    margin:20px 10px 10px;
}
.hasError{
    border-color: #F53855;
}

#changePhoto-l{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 160px;
    margin-top: 150px;
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #000;
}
#changePhoto-l:hover{
    cursor: pointer;
}
#changePhoto{
    visibility: hidden;
    position: absolute;
}