<template>
  <div>
    <span> {{ message }} </span>

    <button @click.prevent="positive">да</button>
    <button @click.prevent="negative">отмена</button>
  </div>
</template>

<script>
export default {
  props: ['message'],
  methods: {
    positive() {
      this.$emit('answer', true)
    },

    negative() {
      this.$emit('answer', false)
    }
  }
}
</script>

<style scoped>
@import '~@/assets/components/ConfirmationCard.css';
</style>
