<template>
  <div class="teamup_message">
    <div class="teamup-send-block">
      <input type="text" v-model.trim="value" :placeholder="baseValue">
      <button @click.prevent="submit"><img src="@/assets/png/Paper Plane.png"></button>
    </div>
    <button @click.prevent="exit" class="teamup_messege-exit"><img src="@/assets/png/cancel.png"></button>
  </div>
</template>

<script>
export default {
  props: ['baseValue'],
  data: () => ({
    value: ''
  }),
  methods: {
    submit() {
      this.$emit('answer', {
        isAnswer: true,
        value: this.value
      })
    },

    exit() {
      this.$emit('answer', {
        isAnswer: false
      })
    }
  }
}
</script>

<style scoped>
@import '~@/assets/components/TeamUp.css';
</style>
