<template>
  <div class="project">
    <div class="header-project">
      <span>{{ project.info.title }}</span>
      <span v-if="project.info.slogan" class="project-slogan">{{
        project.info.slogan
      }}</span>
    </div>

    <GeneralInfo :user="project.user" :info="project.info" />

    <ButtonTeamUp v-if="!project.user.isMember && getIsAuth()" :user="project.user" />

    <div class="members-card">
      <div class="members-menu">
        <div
          class="members-label"
          :class="{ active: currentTab === tab[0] }"
          @click.prevent="currentTab = tab[0]"
        >
          Cостав команды
        </div>
        <div
          class="members-label"
          v-if="project.user.isOwner"
          :class="{ active: currentTab === tab[1] }"
          @click.prevent="currentTab = tab[1]"
        >
          Заявки
        </div>
        <div
          class="members-label"
          v-if="project.user.isOwner"
          :class="{ active: currentTab === tab[2] }"
          @click.prevent="currentTab = tab[2]"
        >
          настройки
        </div>
      </div>

      <MembersList
        v-if="currentTab === tab[0] && project.members"
        :members="project.members"
        :user="project.user"
      />

      <CandidateList
        v-if="currentTab === tab[1] && project.user.isOwner && project.candidates"
        :candidates="project.candidates"
        :user="project.user"
      />

      <Settings v-if="currentTab === tab[2] && project.user.isOwner" />
    </div>
  </div>
</template>

<script>
import project from "./project";
export default project;
</script>

<style scoped>
@import "~@/assets/views/Project/Project.css";
</style>
