<template>
  <div class="project">
    <div class="header-project">
      <span>Создание проекта</span>
    </div>

    <form @submit.prevent="editData" class="project-card">
      <div>
        <div class="project-data-block">
          <span class="project-data">Название</span>
          <div class="project-edit-block">
            <input
              class="project-input"
              type="text"
              v-model.trim="info.title"
              :class="{
                hasError: $v.info.title.$dirty && !$v.info.title.required,
              }"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Слоган</span>
          <div class="project-edit-block">
            <input
              class="project-input"
              type="text"
              v-model.trim="info.slogan"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Описание</span>
          <div class="project-edit-block">
            <textarea
              class="project-input"
              type="text"
              v-model.trim="info.description"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Кто требуется</span>
          <div class="project-edit-block">
            <textarea
              class="project-input"
              type="text"
              v-model.trim="info.looking_for"
            />
          </div>
        </div>
        <div class="project-data-block">
          <span class="project-data">Контакты</span>
          <div class="project-edit-contact-block">
            <div v-for="(contact, index) in contacts" :key="index">
              <input
                class="project-input-contact"
                type="text"
                v-model.trim="contacts[index]"
              />
              <button @click.prevent="spliceContact(index)" class="proj-cont-b">
                -
              </button>
            </div>
            <button @click.prevent="pushContact()" class="proj-cont-add">
              +
            </button>
          </div>
        </div>
      </div>
      <button type="submit" class="save-edit-b">
        <img src="@/assets/png/save.png" />
        Создать проект
      </button>
    </form>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
export default {
  data: () => ({
    contacts: [''],

    info: {
      title: '',
    },
  }),
  validations: {
    info: {
      title: { required },
    },
  },

  methods: {
    ...mapActions(['createProject']),
    ...mapGetters(['getProjectId']),

    pushContact() {
      this.contacts.push('');
    },

    spliceContact(index) {
      this.contacts.splice(index, 1);
    },

    async editData() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      this.info.contacts = this.contacts.join('#')

      await this.createProject(this.info)
        .then(() => {
          this.$router.push(`/projects/${this.getProjectId()}`)
        })
    }
  },
};
</script>

<style scoped>
@import "~@/assets/views/Project/Project.css";
</style>
