<template>
  <div>
    <div v-for="(candidate, index) in candidates" :key="candidate.id" class="application">
      <div class="application-info">
        <span class="application-info-name">{{ candidate.project.title }}</span>
        <span class="application-info-slogan">{{ candidate.project.slogan }}</span>
      </div>
      <div class="app-profile">
        <router-link :to="`/projects/${candidate.project.id}`" class="b">подробнее</router-link>
      </div>
      <div class="application-message">
        {{ candidate.message }}
      </div>
      <div class="app-status">
        <div v-if="!candidate.isUserAccept && candidate.isTeamOwnerAccept">
          <button @click.prevent="joinInProject(index)" class="app-status-g">принять</button>
          <button @click.prevent="notJoinInProject(index)" class="app-status-r">отклонить</button>
        </div>
        <div v-if="candidate.isUserAccept && !candidate.isTeamOwnerAccept">
          <button @click.prevent="notJoinInProject(index)" class="app-status-r">отменить заявку</button>
        </div>
      </div>
      <div class="app-date">{{ candidate.createdAt.substr(0, 10) }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  props: ['candidates', 'userId'],

  methods: {
    ...mapActions(['notTakeUserInTeam', 'userTeamUp']),

    async joinInProject(index) {
      const formData = {
        projectId: this.candidates[index].project.id
      }
      await this.userTeamUp(formData)
        .then(() => this.candidates.splice(index, 1))
    },

    async notJoinInProject(index) {
      const formData = {
        projectId: this.candidates[index].project.id,
        userId: this.userId
      }
      await this.notTakeUserInTeam(formData)
        .then(() => this.candidates.splice(index, 1))
    },
  }
}
</script>

<style scoped>
@import '~@/assets/views/profile/components/Applications.css';
</style>
