<template>
  <div>
    <button @click.prevent="openFormTeamUp" class="team-up-b">TeamUp</button>

    <div v-if="currentTab !== tab[0]" class="select-project-block">

      <div v-if="currentTab === tab[1]">
        <span class="select-project-block-info">Выберите проект, в который хотите пригласить</span>
        <div v-if="projects.length" class="select-project-table">
          <div v-for="project in projects" :key="project.project.id" class="select-project-item">
            <div @click.prevent="selectProject(project.project.id)" class="select-project-item-title">{{project.project.title}}</div>
          </div>
        </div>
        <div v-else class="no-project">
          <span class="select-project-block-info">У вас нет своих проектов. Создайте проект, что бы пригласить в него тиммейта.</span>
          <router-link to="/projects/create-project" class="sp-create-project-b"><img src="@/assets/png/Pen.png">Создать свой проект</router-link>
        </div>

      </div>

      <div v-if="currentTab === tab[2]" class="sp-teamup-send-block">
         <input type="text" v-model.trim="select.data.message" :placeholder="'Сообщение пользователю'">
         <button @click.prevent="submit">Пригласить</button>
      </div>

      <div @click.prevent="currentTab = tab[0]" class="sp-exit">
        <img src="@/assets/png/cancel.png">
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  props: ['userId'],
  data: () => ({
    isTeamUp: false,
    tab: ['close', 'switch_projects', 'minput_message'],
    currentTab: 'close',

    projects: {},
    select: {
      projectId: null,
      userId: null,
      data: {
        message: ''
      }
    }
  }),
  methods: {
    ...mapActions(['getAllProjectsUser', 'teamUpInProject']),
    ...mapGetters(['getAllProjectsUserList', 'getUser']),

    async openFormTeamUp() {
      this.select.userId = this.userId
      await this.getAllProjectsUser()
        .then(() => {
          this.projects = this.getAllProjectsUserList()
          this.currentTab = this.tab[1]
        })
    },

    selectProject(projectId) {
      this.select.projectId = projectId
      this.currentTab = this.tab[2]
    },

    async submit() {
      await this.teamUpInProject(this.select)
        .finally(() => {
          this.currentTab = this.tab[0]
        })
    }
  }
}
</script>

<style scoped>
@import '~@/assets/views/profile/components/ButtonTeamUp.css';
</style>
