.my_projects{
    background-color: #F5F9FA;
    min-height: 100vh;
}
.header-mp{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 2px;
    color: #000000;
    width: auto;
    background-color: white;
    height: min-content;
    padding: 25px 0px 25px 40px;
}
.create-project-b{
    background: #FFBF19;
    border-radius: 50px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    width: 177px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #222222;
    padding: 8px 20px 9px;
    margin: 30px 50px;
}
.create-project-b:link{
    text-decoration: none;
}
.create-project-b:hover{
    cursor: pointer;
}
.projects-table{
    margin: 0px 50px;
}
.projects-table-header{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin:0px 20px;
    color: #363740;
}
.projects-table-item{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 1fr;
    background-color: white;
    border-top: 1px solid #DFE0EB;
    border-bottom: 1px solid #DFE0EB;
    margin:5px 0px;
    padding:20px;
}
.project-item-info{
    display: flex;
    flex-direction: column;
}
.project-item-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #F53855;
    margin-bottom: 5px;
}
.project-item-slogan{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: rgba(54, 55, 64, 0.81);
}
.project-item-manager{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #252733;
    margin: auto 0px;
    padding-left: 4px;
}
.project-item-status{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin: auto 0px;
    padding-left: 4px;
}
.project-item-role{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin: auto 0px;
    padding-left: 6px;
}
.project-item-more-b{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    background: #29CC97;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: auto;
    padding: 4px 13px;
}
.project-item-more-b:link{
    text-decoration: none;
}
.projects-table-item.manager{
    background-color:   rgba(35, 187, 134, 0.09);
}