.users{
    background-color: #F5F9FA;
    min-height: 100vh;
}
.header-u{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 2px;
    color: #000000;
    width: auto;
    background-color: white;
    height: min-content;
    padding: 25px 0px 25px 40px;
}
.user-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px 100px;
}
.user-table-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(196, 196, 196, 0.69);
    padding: 30px 20px 5px;
}
.user-item-photo{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #C4C4C4;
}
.user-item-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252733;
    text-transform: uppercase;
    margin: 10px 0px 6px;
}
.user-item-role{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.3px;
}
.user-item-more-b{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    background: #29CC97;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 15px auto 10px;
    padding: 4px 13px;
}
.user-item-more-b:link{
    text-decoration: none;
}