.all_projects{
    background-color: #F5F9FA;
    min-height: 100vh;
}
.header-ap{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 2px;
    color: #000000;
    width: auto;
    background-color: white;
    height: min-content;
    padding: 25px 0px 25px 40px;
}

.a-projects-table{
    margin: 50px 20px;
}
.a-projects-table-header{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin:0px 50px;
    color: #363740;
    text-align: center;
}
#a-project-header-name{
    text-align: left;
}
.a-projects-table-item{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr;
    background-color: white;
    border-top: 1px solid #DFE0EB;
    border-bottom: 1px solid #DFE0EB;
    margin:5px 0px;
    padding:20px 50px;
}
.a-project-item-info{
    display: flex;
    flex-direction: column;
}
.a-project-item-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #F53855;
    margin-bottom: 5px;
}
.a-project-item-slogan{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: rgba(54, 55, 64, 0.81);
}
.a-project-item-manager{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #252733;
    margin: auto 0px;
    padding-left: 4px;
    text-align: center;
}
.a-project-item-need{
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #222222;
    margin: auto;
}
.a-project-item-more-b{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    background: #29CC97;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: auto;
    padding: 4px 13px;
}
.a-project-item-more-b:link{
    text-decoration: none;
}
.a-projects-table-item.usersProject{
    background-color:   rgba(35, 187, 134, 0.09);
}
