<template>
  <div class="all_projects">
    <div class="header-ap">
      <span>Список проектов</span>
    </div>

    <div class="a-projects-table">
      <div class="a-projects-table-header">
        <span id="a-project-header-name">Название проекта</span>
        <span>Менеджер</span>
        <span>Требуется</span>
      </div>

      <div v-for="project in projects" :key="project.id" class="a-projects-table-item" :class="{usersProject: project.owner.id === getUser().id}">
        <div class="a-project-item-info">
          <span class="a-project-item-name">{{ project.title }}</span>
          <span class="a-project-item-slogan">{{ project.slogan }}</span>
        </div>

        <span class="a-project-item-manager">{{ project.owner.name }}</span>

        <span class="a-project-item-need">{{ project.looking_for }}</span>

        <router-link :to="{ name: 'project', params: { projectId: project.id }}" class="a-project-item-more-b">подробнее</router-link>
      </div>

    </div>
  </div>
</template>

<script>
import projectsListAll from './projectsListAll.js'
export default projectsListAll
</script>

<style scoped>
@import "~@/assets/views/projectsListAll/ProjectsListAll.css";
</style>
