<template>
  <div class="main">
    <div class="block1">
      <div class="block1-text">
        <h1>Найди команду мечты!</h1>
        <p>Сервис TeamUp позволяет найти единомышленников для создания проектов в рамках дисциплины проектной деятельности ОмГТУ</p>
      </div>
      <div class="Neo">
        <button class="find-project-button"><router-link to="/projects" class="b">Найти проект</router-link></button>
        <button class="find-teammate-button"><router-link to="/users" class="b">Найти тиммейта</router-link></button>
      </div>
    </div>
    <div>
      <h2>Для кого полезен наш сайт?</h2>
      <div class="block2">
        <div>
          <div class="numbers">01</div>
          <h3>У вас есть идея проекта, но не хватает разработчиков?</h3>
          <p class="block2-text">Найдите единомышленников в один клик, просто выложив свой проект и необходимый список позиций в команде</p>
        </div>
        <div>
          <div class="numbers">02</div>
          <img src="@/assets/png/Frame.png" class="loop">
          <h3>Вы разработчик и хотите найти проект для работы?</h3>
          <p class="block2-text">Выбирайте из множества команд и проектов тот, который вам по душе</p>
        </div>
        <div>
          <div class="numbers">03</div>
          <h3 id="num3">Устаете и не получаете удовольствия от проектной работы?</h3>
          <p class="block2-text"  id="text3">С нашим сервисом занятие проектной деятельностью станет удобнее и интереснее</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Для чего создана  платформа TeamUp?</h2>
      <div class="block3">
        <div  class="rocket_img"><img src="@/assets/png/Product Launch 1.png"></div>
        <div class="block3-text-1">
          <hr id="hr1" noshade>
          <h4>СТАРТАП</h4>
          <p class="block3-p">&ensp; В последние годы особую популярность набирает термин «стартап». По сути, это творческое и инновационное начинание, которое предполагает внедрение на рынок принципиально нового продукта.</p>
          <p class="block3-p">&ensp; Тысячи  проектов запускаются ежегодно, но только  часть из них достигает успеха. </p>
        </div>
        <div class="block3-text-2">
          <hr id="hr2" noshade>
          <div class="rectangle"></div>
          <h4>АКТУАЛЬНОСТЬ TeamUp</h4>
          <p class="block3-p">&ensp; В большинстве случаев стартап начинает зарождаться в умах молодых талантливых людей, способных генерировать смелые и уникальные идеи.</p>
          <p class="block3-p">Именно для таких талантливых IT-разработчиков ОмГТУ и создана система <span class="green">TeamUP.</span></p>
        </div>
        <div class="search_img"><img src="@/assets/png/Search 1.png" class="search_img"></div>
      </div>
    </div>
    <div class="block4" v-if="!this.getIsAuth()">
      <div class="block4-back log-reg">
        <a name="login"></a>
        <Login
          @toRegister="isLogin = false"
          v-if="isLogin"
        />
        <Register
          @toLogin="isLogin = true"
          v-else
        />
      </div>
      <div class="block4-back">
        <p class="block4-text-1">Стать успешным так же просто,</p>
        <p class="block4-text-2">как зарегистрироваться в <span class="red">TeamUp</span></p>
      </div>
    </div>
  </div>
</template>

<script>
import main from './main'
export default main
</script>

<style scoped>
@import '~@/assets/views/main/Main.css';
</style>
