@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish:ital@0;1&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@700&family=Roboto:ital,wght@0,400;1,100;1,300;1,400&family=Rubik:wght@500&family=Yanone+Kaffeesatz:wght@700&display=swap');
body{
    margin: 0;
}
footer{
    height: 18vw;
    background-color: rgba(196, 196, 196, 0.59);
}
.b:link, .b:visited,.b:hover, .b:active, .b:default{
    color: inherit;
    text-decoration: none;
}