.application{
    margin: 5px 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
    height: 80px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.19);
}
.application-info{
    margin: auto;
    display: grid;
}
.application-info-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #222222;
}
.application-info-slogan{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #C5C7CD;
}
.application-message{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    margin: auto;
    letter-spacing: 0.5px;
}
.app-status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app-status button{
    background: #F5F9FA;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 4px 15px;
    font-family: Open Sans;
    font-style: normal;
    margin: 5px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}
.app-profile{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    background: #29CC97;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    padding: 6px 15px;
}
.app-status-g{
    color: #23BB86;
    border: 1px solid #23BB86;
}
.app-status-r{
    color: #F53855;
    border: 1px solid #F53855;
}
.app-date{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #8083A3;
    margin-bottom: auto;
    margin-left: auto;
}