.team-up-b{
    display: block;
    position: absolute;
    background: #FFBF19;
    border-radius: 50px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #222222;
    padding: 8px 20px 9px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
}
.team-up-b:hover{
    cursor: pointer;
}
.select-project-block{
    display: grid;
    grid-template-columns: 1fr auto;
    position: absolute;
    background: linear-gradient(180deg, #F5F9FA 65.62%, #FFFFFF 100%);
    border: 1px solid #FFBF1A;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: -200px;
    padding: 4px 7px 10px 20px;
}
.select-project-block-info{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    align-items: center;
    text-align: center;
    color: #8083A3;
    margin: 10px;
}
.select-project-table{
    overflow: auto;
    margin: 10px 0px;
    display: grid;
    height: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
}
.select-project-item{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #FFFFFF;
    margin: 5px 0px;  
    height: 30px;
}
.select-project-item:hover{
    cursor: pointer;
    background: rgba(255, 191, 25, 0.39);
    border: 0.5px solid #C4C4C4;
    text-decoration: underline;
}
.select-project-item-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.sp-exit:hover{
    cursor: pointer;
}
.sp-teamup-send-block{
    display: flex;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    justify-content:flex-end;
    align-items:center;
    width: 300px;
    margin: 7px 2px 3px;
    padding: 6px;
}
.sp-teamup-send-block input{
    color: #737886;
    margin-left: 10px;
    flex-grow: 2;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid #C4C4C4;;
}
.sp-teamup-send-block button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    background: rgba(255, 191, 26, 0.5);
    border-radius: 20px;
    border: none;
    padding: 3px 10px;
}
.sp-teamup-send-block button:hover{
    cursor: pointer;
}
.sp-create-project-b{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: black;
    margin: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}
.sp-create-project-b:link{
    text-decoration: none;
    color: inherit;
}
.no-project{
    padding: 20px 0px 0px;
}