<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
import EmptyLayout from '@/pages/layouts/EmptyLayout.vue'
import MainLayout from '@/pages/layouts/MainLayout.vue'
import SidebarLayout from '@/pages/layouts/SidebarLayout.vue'
export default {
  computed: {
    layout () {
      return (this.$route.meta.layout || 'empty') + '-layout'
    }
  },
  components: {
    EmptyLayout,
    MainLayout,
    SidebarLayout
  }
}
</script>

<style>
@import 'assets/index.css';
</style>

